$font-size-base: 1rem;
$font-size-lg:                $font-size-base * 1.4;
$navbar-dark-color: black;
$navbar-dark-hover-color: yellowgreen;
$input-focus-border-color: green;

.ugrasTartalomra {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
  
}
.ugrasTartalomra:focus {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.masthead {
    background-size: cover;
    min-height: 50vh;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';